{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="full_row bg_img_5 py_80 overlay_1 page-banner" style="margin-top: 125.874px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page_banner">
                    <h3 class="title text_white d-table float-left">About Us</h3>
                    <ul class="page_location float-right">
                        <li><a href="index_1.html">Home</a>
                        </li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                        <li><span>Pages</span>
                        </li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>
                        </li>
                        <li><span>About Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="full_row py_80 bg_gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="offer_item_1 mb_30 wow fadeInLeft animated" data-wow-delay="200ms"
                    data-wow-duration="1000ms"
                    style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInLeft;">
                    <div class="icon_medium icon mb-2 bg_primary"><i class="flaticon-home-1"></i>
                    </div>
                    <h5 class="title py-3">Verified</h5>
                    <p>We don't let unethical and suspicious listings. All properties are manually verified.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="offer_item_1 mb_30 wow fadeInLeft animated" data-wow-delay="100ms"
                    data-wow-duration="1000ms"
                    style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInLeft;">
                    <div class="icon_medium icon mb-2 bg_primary"><i class="flaticon-handshake"></i>
                    </div>
                    <h5 class="title py-3">No hassle</h5>
                    <p>After buyers approach us, we send them over to the sellers. It's just hassle free.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="offer_item_1 mb_30 wow fadeInRight animated" data-wow-delay="100ms"
                    data-wow-duration="1000ms"
                    style="visibility: visible; animation-duration: 1000ms; animation-delay: 100ms; animation-name: fadeInRight;">
                    <div class="icon_medium icon mb-2 bg_primary"><i class="flaticon-home"></i>
                    </div>
                    <h5 class="title py-3">NO SPAM</h5>
                    <p>We restrict spammers so, we only provide contact details to legit buyers.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="offer_item_1 mb_30 wow fadeInRight animated" data-wow-delay="200ms"
                    data-wow-duration="1000ms"
                    style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInRight;">
                    <div class="icon_medium icon mb-2 bg_primary"><i class="flaticon-connections"></i>
                    </div>
                    <h5 class="title py-3">NO WORRIES</h5>
                    <p>Once you post your listing, you needn't worry. We'll take care the rest.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark bg_img_6 full_row">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="who_text py-5">
                    <h2 class="text_white mb-4">who we are?</h2>
                    <p>We are neiher your agent nor your broker. We are just a platform to make your life easier.
                        We provide platform for sellers to sell and buyers to buy.
                    </p>
                    <ul class="icon_list_2 mt-4">
                        <li>We find your dream house.</li>
                        <li>We find you the perfect real estate investment.</li>
                        <li>We help you choose between various options.</li>
                        <li>We help you find a place to live.</li>
                        <li>We help you find a place for your business or office.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %}
<section class="py_80 bg_gray full_row">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="mb-4">What <span class="text_primary">We Do</span></h2>
                <p>Facilisi mi potenti quam ad, volutpat tristique maecenas non facilisi varius venenas posuere maecenas
                    nam. Consequat nostra donec natoque facilisis fames venenat neque potenti senectus convallis lacinia
                    nec tincidunt. Convallis mollis euism class nascetur nunc. Justo risus tempor interdum. Dictumst sit
                    cubilia taciti Lacinia ad mi Nam. Mattis ut phasellus.</p>
                <div class="according mt-4">
                    <div class="according_area">
                        <div class="according_title active">Hendrerit convallis gravida lacinia eleifend eros morbi
                            vivamus.</div>
                        <div class="according_details" style="">
                            <p>Consectetuer pulvinar accumsan donec, lacus tristique odio temp. Auct temp sociosqu
                                pulvinar pharetra vel, cubilia nec sociosqu aliquet quis facilisis diam mus gravida
                                cursus nascetur hac Quis molestie pretium curae.</p>
                        </div>
                    </div>
                    <div class="according_area">
                        <div class="according_title">Condimentum felis feugiat scelerisque commodo tempus tortor.</div>
                        <div class="according_details" style="display: none;">
                            <p>Consectetuer pulvinar accumsan donec, lacus tristique odio temp. Auct temp sociosqu
                                pulvinar pharetra vel, cubilia nec sociosqu aliquet quis facilisis diam mus gravida
                                cursus nascetur hac Quis molestie pretium curae.</p>
                        </div>
                    </div>
                    <div class="according_area">
                        <div class="according_title">Platea aliquam fusce viverra primis nisl nec facilisis sit
                            elementum.</div>
                        <div class="according_details" style="display: none;">
                            <p>Consectetuer pulvinar accumsan donec, lacus tristique odio temp. Auct temp sociosqu
                                pulvinar pharetra vel, cubilia nec sociosqu aliquet quis facilisis diam mus gravida
                                cursus nascetur hac Quis molestie pretium curae.</p>
                        </div>
                    </div>
                    <div class="according_area">
                        <div class="according_title">Facilisi Suscipit justo aenean tortor convallis inceptos dis
                            sodales.</div>
                        <div class="according_details" style="display: none;">
                            <p>Consectetuer pulvinar accumsan donec, lacus tristique odio temp. Auct temp sociosqu
                                pulvinar pharetra vel, cubilia nec sociosqu aliquet quis facilisis diam mus gravida
                                cursus nascetur hac Quis molestie pretium curae.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="mb-4 mt_md_50">our <span class="text_primary">misson</span></h2>
                <p>Facilisi mi potenti quam ad, volutpat tristique maecenas non facilisi varius venenas posuere maecenas
                    nam. Consequat nostra donec natoque facilisis fames venenat neque potenti senectus convallis lacinia
                    nec tincidunt. Convallis mollis euism class nascetur nunc. Justo risus tempor interdum. Dictumst sit
                    cubilia taciti Lacinia ad mi Nam. Mattis ut phasellus.</p>
                <ul class="misson_area mt-4">
                    <li>
                        <img src="img/about/about-1.png" alt="">
                        <span>Find Proper Area for Housing.</span>
                        <p>Mattis conubia facilisi. Suscipit quam donec cum mus sagittis susci pit lobortis habitant non
                            tellus condimentum nisl.</p>
                    </li>
                    <li>
                        <img src="img/about/about-2.png" alt="">
                        <span>Easy Installment Value Paid Facelity.</span>
                        <p>Mattis conubia facilisi. Suscipit quam donec cum mus sagittis susci pit lobortis habitant non
                            tellus condimentum nisl.</p>
                    </li>
                    <li>
                        <img src="img/about/about-3.png" alt="">
                        <span>Money back guarantee.</span>
                        <p>Mattis conubia facilisi. Suscipit quam donec cum mus sagittis susci pit lobortis habitant non
                            tellus condimentum nisl.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> {% endcomment %}

{% endblock content %}